@charset "UTF-8";
/* common ui */
.button{
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 24px;
  margin: 10px;
  color: white;
  background: #18d26e;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover{
  background: white;
  color: #18d26e;
}


/* 상단으로 가기버튼 */
.back_to_top{
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 10px;
  background:black;
  z-index: 900;
  /* border-radius: 100%; */
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  /* 노출과 비노출 시 transition */
  opacity: 0;
  transition: .5s;
}

.back_to_top a{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on{
  opacity: 1;
}

/* mobile button area */
input[type=checkbox]#gnbcheck{ display: none; }

#gnbbtn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 900;
  display: none;
}

/* mobile button line style */
#gnbbtn > span{
  position: absolute;
  width: 32px;
  height: 1.6px;
  background: #ffffff;
  top: 16px;
  transform: translateY(-50%);
  /* transition: .5s; */
}

#gnbbtn > span:nth-child(1){
  top: 8px;
}

#gnbbtn > span:nth-child(3){
  top: 24px;
}

/* mobile close button */
#mobile_close_btn{
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}

#mobile_close_btn:before,#mobile_close_btn:after{
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;
  background: #ffffff;
  top: 16px;
  transform: translate(-50%) rotate(40deg);
}

#mobile_close_btn:before{
  transform: translate(-50%) rotate(-40deg);
}


/* header area*/
#header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  background: rgba(0,0,0,.3);
  z-index: 800;
}

/* top logo area */
#top_logo{
  float: left;
}

#top_logo a{
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

/* gnb area*/
#gnb{
  float: right;
}

#gnb ul{
  overflow: hidden;
}

#gnb ul li{
  float: left;
}

#gnb ul li a{
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

/* section common style */
section{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  /* background: gray; */
  min-height: 100vh;
  box-sizing: border-box;
}

section:nth-child(odd){
  background: #f9f9f9;
}

section#intro{
  background: url('../img/intro/3.jpg') no-repeat;
  background-size: cover;
}

section#myprofile{
  background: url('../img/bg/about_bg.jpg') no-repeat;
  background-size: cover;
}

section#myprofile:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  background: rgba(255,255,255,0.92);/*white*/
  z-index: 9;
}

section#myprofile .row .column .inner .job{
  color: #999999;
  font-size: 14px;
}

section#myprofile .row .column .inner img{
  width: 20%;
  border-radius: 100%;
}

section .row .column .inner{
  text-align: center;
}

section#portfolio .row .column .inner p{
  text-align: left;
}

section#portfolio .row .column .inner img{
  border-radius: 5px;
}

section#myskill{
  background: url('../img/bg/my_skill_bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section .row .column .inner.none_type{
  border: 0;
  box-shadow: none;
  background: none;
}

section > article{
  text-align: center;
  padding: 0 20%;
  color: white;
}

section > article > h2{
  font-size: 40px;
}

section > article > p{
   font-size: 20px;
}

section .row{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1410px;
  padding: 120px 0;
  box-sizing: border-box;
  z-index: 500;
}

/*section row title style*/
section .row > h2{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

section .row > h2:before,section .row > h2:after{
  content: '';
  position: absolute;
  display: block;
}

section .row > h2:before{
  width: 120px;
  height: 1px;
  background: #dddddd;
  bottom: 1px;
  left: calc( 50% - 60px );
}

section .row > h2:after{
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;/*0px*/
  left: calc( 50% - 20px );
}

/*progress bar style*/
.progressbar .items_wrap{
  overflow: hidden;
  color: white;
  margin-bottom: 15px;
  background: rgba(255,255,255,.3);
}

.progressbar .items_wrap:last-child{
  margin: 0;
}

.progressbar .items{
  overflow: hidden;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  box-shadow: 2px 0px 2px rgba(0,0,0,.5);
  width: 0;
  opacity: 0;
  transition: 1s;
}

.progressbar .items .title{
  float: left;
  font-weight: 700;
  padding: 6px 0;
}

.progressbar .items .percent{
  float: right;
  padding: 6px 0;
}

.progressbar .items_wrap:nth-of-type(1) .items{
  background: #ebaf17;
}

.progressbar .items_wrap:nth-of-type(2) .items{
  background: #edd118;
}

.progressbar .items_wrap:nth-of-type(3) .items{
  background: #dfed18;
}

.progressbar .items_wrap:nth-of-type(4) .items{
  background: #abeb17;
}

section .row{
  opacity: 0;
  transform: translateY(500px);
  transition: 1s;
}

/* active interaction */
section.active .row{
  opacity: 1;
  transform: translateY(0px);
}

/* transition */
/* progressbar common effect */
section.active .row .column .inner.progressbar .items_wrap .items{
  opacity: 1;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(1) .items{
  width: 50%;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(2) .items{
  width: 80%;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(3) .items{
  width: 70%;
}

section.active .row .column .inner.progressbar .items_wrap:nth-of-type(4) .items{
  width: 60%;
}

section .row .column .inner{
  text-align: center;
}

/* mytools */
section#mytools .row .column{
  position: relative;
  opacity: 0;
  margin-top: -200px;
}

section#mytools.active .row .column{
  margin-top: 0px;
  opacity: 1;
}

section#mytools.active .row .column:nth-of-type(1){
  transition: 1s 0.25s
}

section#mytools.active .row .column:nth-of-type(2){
  transition: 1s 0.5s
}

section#mytools.active .row .column:nth-of-type(3){
  transition: 1s 0.75s
}

section#mytools.active .row .column:nth-of-type(4){
  transition: 1s 1s
}

/*my profile active*/
/* section#myprofile.active .row .column .inner img{
  transform: scale(1);
  opacity: 1;
  transition: 2s;
} */


section .row .column .inner img.shadow{
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  transition: 1s;
}

section .row .column .inner img.shadow:hover{
  box-shadow: none;
}

/* section row column style */
section .row .column{
  flex: 25%;
}

section .row .column .inner{
  margin: 15px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  border-radius: 5px;
}

section .row .column .inner img{
  width: 100%;
}

/* footer area */
#footer{
  background: #000000;/*#000,black,rgba(0,0,0,1)*/
  color: #ffffff;
  font-size: 14px;
}

#footer .footer_top{
  background: #111111;
  padding: 60px 0 30px;
  /* padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px; */
  /* padding: 60px 0 30px 0; */
  /* padding: 0;
  padding-top: 60px;
  padding-bottom: 30px; */
}

/* footer container 공통 스타일 */
#footer .container{
  /* footer_top의 .container와 #footer의 자식요소 .container의 공통스타일 적용 */
  margin: 0 auto;
  width: 1140px;
}

#footer > .container{
  padding: 30px 0;
  text-align: center;
}

#footer .container .row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer .container .row .column{
  flex: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 30px;
}

/* footer log */
#footer .container .row .column.footer_logo h3{
  font-size: 34px;
  font-weight: 700;/*bold*/
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}

#footer .container .row .column h4{
  position: relative;
  font-size: 14px;
  font-weight: 700;/*bold*/
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

/*h4의 :before, :after 공통 스타일*/
#footer .container .row .column h4:before,#footer .container .row .column h4:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .container .row .column h4:before{
  right: 0;
  background: #555555;
}

#footer .container .row .column h4:after{
  width: 60px;
  background: #18d26e;
}

/*list style*/
#footer .container .row .column ul li{
  border-bottom: 1px solid #333333;
  padding: 10px 0;
}

#footer .container .row .column ul li:nth-child(1){
  padding-top: 0;
}

#footer .container .row .column p{
  line-height: 26px;
}

#footer .container .row .column.news input{
  float: left;
}

#footer .container .row .column.news input[type=search]{
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .container .row .column.news input[type=submit]{
  background: #18d26e;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #ffffff;
}


/*반응형 style*/
@media screen and ( max-width: 1200px ) {
  section .row .column{
    flex: 50%;
  }
  section#myprofile .row .column .inner img{
    width: 30%;
  }
  #footer .container{
    width: 100%;
  }
  #footer .container .row .column{
    flex: 50%;
  }
}

/* tablet pc */
@media screen and ( max-width: 767px ) {
  section .row .column{
    flex: 100%;
  }

  section#ourclient .row .column,section#mytools .row .column{
    flex: 50%;
  }

  section#myprofile .row .column .inner img{
    width: 50%;
  }

  #footer .container .row .column{
    flex: 100%;
  }

  /*mobile gnb*/

  #mobile_close_btn{
    display: block;
  }

  #gnbbtn{
    display: block;
  }

  input[type=checkbox]#gnbcheck:checked ~ #header #gnb{
    left: 0;
  }

  /* input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(1){
    top: 16px;
    transform: rotate(40deg);
  }

  input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(2){
    transform: rotate(-40deg);
  }

  input[type=checkbox]#gnbcheck:checked + #gnbbtn > span:nth-child(3){
    display: none;
  } */

  #gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background: rgba(0,0,0,.8);
    transition: 0.5s ease-in-out;
  }

  #gnb ul{
    padding-top: 50px;
  }

  #gnb ul li{
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }

  #header{
    position: absolute;
  }
}

/* mobile  */

@media screen and ( max-width: 480px ) {
  section#ourclient .row .column,section#mytools .row .column{
    flex: 100%;
  }

  section#ourclient .row .column .inner img,section#mytools .row .column .inner img{
    width: 50%;
  }
}
